# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LILY58_LEFT_PERIPHERAL

config ZMK_SPLIT
    default y

# ZMK_SPLIT_ROLE_CENTRAL is intentionally NOT set here.
# It will default to n, making this device a peripheral.

endif
